<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- http://getbootstrap.com/docs/5.1/ -->
    <script crossorigin="anonymous" src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"></script>
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" rel="stylesheet">

    <link rel="stylesheet" href="/static/styles.css">
    <link rel="icon" href="/static/money.jpeg">
    <script src="https://kit.fontawesome.com/3ba60c7112.js" crossorigin="anonymous"></script>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;600&display=swap" rel="stylesheet">

    <title>Finances {% block title %}{% endblock%}</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // toggle menu in small view
            const toggleMenu = () => {
                document.querySelector('#menu').classList.toggle('open');
            }

            document.querySelector('#toggleMenu').addEventListener('click', toggleMenu);
        });

    </script>
</head>

<body>

    <header>
        <nav>
            <ul id="menu">
                <li><a id="toggleMenu">&equiv;</a></li>
                <li><a href="/" class="active"><i class="fa-solid fa-coins fa-2xl"></i>
                        Finances
                <li><a href="/loan"><i class="fa-solid fa-landmark fa-2xl"></i>
                        Loan</a></li>
                <li><a href="/savings"><i class="fa-solid fa-piggy-bank fa-2xl"></i>
                        Savings</a></li>
            </ul>
        </nav>
    </header>
    <main>

        {% block main %}
        {% endblock %}

    </main>
    <footer>
        &copy; {{ date }} | Loris Jared Ndonga | Finances
    </footer>

</body>

</html>